* {
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  box-sizing: border-box;
  font-size: 110%;
}

#root {
  text-align: center;
}

.mainCalc {
  margin: 0px;
  padding: 0px;
  /* border-radius: 2px; */
  border: 1px;
  box-sizing: border-box;
}

.screen-row input {
  width: 400px;
  background: #999;
  /* box-shadow: 0 9px #999; */
  border: 0px;
  color: #222;
  padding: 10px;
  text-align: right;
}
.calcButton {
  display: inline-block;
  padding: 15px 25px;
  margin: 3px 1px 3px 1px;
  font-size: 16px;
  border: 1px solid #222;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  width: 100px;
  outline: none;
  background: #ff9500;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  color: black;
}
.bigButton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  border: 1px solid #222;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  width: 200px;
  outline: none;
  background: #ff9500;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  color: black;
}

.calcButton:hover {
  background-color: #f8d210;
}
.bigButton:hover {
  background-color: #f8d210;
}

.calcButton:active {
  background-color: #f8d210;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #fffccc;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #fffccc;
  position: absolute;
  padding: 10% 0 0 0;
}

.question {
  font-size: 16px;
}
.answerBtn {
  margin: 4px;
}
.progressbar {
  font-size: 15px;
  padding: 10px;
}
.cardbody {
  padding: 1000px 0 1000px 0;
}
/* more */
