* {
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  box-sizing: border-box;
  font-size: 110%;
}

#root {
  text-align: center;
}

.mainCalc {
  margin: 0px;
  padding: 0px;
  border-radius: 2px;
  border: 1px;
  box-sizing: border-box;
}

.screen-row input {
  width: 400px;
  background: #ddd;
  border: 0px;
  color: #222;
  padding: 10px;
  text-align: right;
}

input[type="button"] {
  width: 100px;
  background: #f8d210;
  border: 1px solid #222;
  padding: 10px 20px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
input[type="button"]:hover {
  width: 100px;
  background: red;
  border: 1px solid #222;
  padding: 10px 20px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input[type="button"]:active {
  background: #ccc;
  border: 0px;
}

/* more */
